.icon {
    width: 30px;
    filter: grayscale(100%);
    margin-bottom: 10px;
    margin-left: 27px;
}

/* .gh {
    right: 200px;
}

.fb {
    right: 50px;
}

.li {
    right: 150px;
}

.tw {
    right: 100px;
}

.ig {
    right: 0px;
} */

.icon:hover {
    filter: none;
    cursor: pointer;
}